<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>.
    </span>
    <small class="attribution">Powered by <a href="https://hexo.io/" title="Hexo" target="_blank" rel="external">Hexo</a> with <a href="https://github.com/LouisBarranqueiro/tranquilpeak-hexo-theme" title="Tranquilpeak" target="_blank" rel="external">Tranquilpeak</a> theme by <a href="https://github.com/LouisBarranqueiro" title="Louis Barranqueiro" target="_blank" rel="external">Louis Barranqueiro</a></small>
</footer>
